<div class="container d-flex justify-content-center">
    <div class="m-5">
      <h1 class="d-flex justify-content-center">Sign in</h1>
      <div class="login-form">
        <div class="form-group">
          <label for="inputLogin">Login</label>
          <input [(ngModel)] ="user.login" type="email" class="form-control" id="inputLogin">
        </div>
        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input [(ngModel)] ="user.password" type="password" class="form-control" id="inputPassword">
        </div>
        <div class = "d-flex justify-content-center">
          <button (click)="login(user)" class="btn btn-outline-success my-2 my-sm-0 mr-3 ">Log in</button>
        </div>
      </div>
    </div>
    
  </div>
  
  